{% extends 'base.html.twig' %}

{% block title %}Everything Dark - log in
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<div class="d-flex flex-column align-items-center">

			<h1 class="m-3">Please log in</h1>
			<label for="inputUsername" class="mt-3">Username</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" required>
			<label for="inputPassword" class="mt-3">Password</label>

			<input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="css-button-3d--grey mt-3 mb-5" type="submit">log in</button>


		</form>

		<a href="{{ path('app_forgot_password_request') }}" style="text-decoration:none">

			<p style="color:white;">forgot password ?</p>
		</a>
		{% for flashType, messages in app.session.flashBag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ flashType }}" style="text-decoration: none; color: white; margin-top: 1rem;">

					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

	</div>
{% endblock %}
