{% extends 'base.html.twig' %}

{% block title %}Everything Dark -
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1 style="margin: 0 auto;">
		{{ category.name }}
	</h1>

	{% for article in articles %}


		<div class="article" style="margin:30px auto; height=300px;">

			<img src="{{ article.image }}" class="m-4" width="250px" height="auto" alt="Image">

			<div class="p-3 d-flex row align-items-center">
				<h3>
					<a href="{{ path('app_article_show', {'id': article.id}) }}" style="text-decoration:none; color:white;">
						{{ article.title }}
					</a>
				</h3>

				<h5>{{ article.intro }}</h5>
				<a href="{{ path('app_article_show', {'id': article.id}) }}">
					<button class="css-button-3d--grey m-3">read</button>
				</a>
			</div>
		</div>


	{% else %}


		<h4>no records found</h4>

	{% endfor %}

{% endblock %}
