{% extends 'base.html.twig' %}

{% block title %}Everything Dark - Articles
{% endblock %}

{% block body %}
	<h1 style="margin: 0 auto;">Articles</h1>


	{% for article in articles %}

		<div style="margin:30px auto; height=300px;">

			<div class="article">

				<img src="{{ asset('/img/' ~ article.image) }}" class="m-3" style="width:200px; height:auto;" alt="Image">

				<div class="p-3 d-flex row align-items-center">
					<h6>
						<em style="color:lightgrey;text-decoration:underline;">
							{{ article.category }}</em>
					</h6>

					<h3>
						<a href="{{ path('app_article_show', {'id': article.id}) }}" style="text-decoration:none; color:white;">
							{{ article.title }}
						</a>
					</h3>

					<h5>{{ article.intro }}</h5>
					<a href="{{ path('app_article_show', {'id': article.id}) }}">
						<button class="css-button-3d--grey m-3">read</button>
					</a>
				</div>
			</div>
		</div>

	{% else %}


		<h4>no records found</h4>

	{% endfor %}


{% endblock %}
